<!DOCTYPE html>
<html>
<head>
  <title>MyFoodie</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%#= javascript_include_tag :defaults, "nested_form" %>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <% if current_user.present? %>
        <ul class="nav navbar-nav">
          <li class="<%= (params[:controller] == 'homes' && params[:action] == 'index') ? 'active' : '' %>"><a href="<%= root_path %>">Home</a></li>
          <li class="<%= (params[:controller] == 'restaurants' && params[:action] == 'index') ? 'active' : '' %>"><a href="<%= restaurants_path %>">Restaurants</a></li>
          <li><a href="/users/sign_out">Sign out</a></li>
        </ul>
    <% end %>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>


</body>
</html>
<script>
jQuery(document).ready(function() {
    /*
        Fullscreen background
    */
    $.backstretch(MyFoodie_bg);

});

</script>
